<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head('지점 세부 정보')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지점 세부 정보</title>
</head>
<body>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcwEaZi-gI454I_SqL0EwZuZXtOS0ryLU&callback=initMap&libraries=maps,marker&v=beta"></script>
<div class="container-fluid">
    <header th:replace="~{/fragment :: header}"></header>
    <div class="row">
        <div th:replace="~{fragment :: sidebar('node')}"></div>
        <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top:5%;">
            <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                <div class="row ms-5 mb-3 mt-2">
                    관리자 > 지점 관리 > 지점 상세조회
                </div>
                <div class="row mb-4 ms-5 fs-1 fontHv">
                    지점 상세조회
                </div>
                <div class="row text-center mx-5 rounded">
                    <div class="col-4 text-start ms-5 ps-5 mt-5 pt-3">
                        <form th:object="${nodeDto}" th:action="@{/admin/node/update}" method="post">
                            <input type="hidden" th:field="*{nodeId}" class="form-control fontHv mt-0 pt-0 fs-6" name="nodeId" placeholder="name@example.com" readonly>
                            <div class="form-floating mb-4">
                                <p class="fs-4 nodeHeader">지점이름</p>
                                <hr>
                                <input type="text" th:field="*{nodeName}" class="form-control fontHv mt-0 pt-0 fs-6" name="nodeName" placeholder="name@example.com" readonly>
                            </div>
                            <div th:if="${#fields.hasErrors('nodeName')}" class="text-start ms-2 text-danger" style="font-size:80%">
                                <i class="bi bi-exclamation-circle"></i><span class="ps-1 pt-1" th:errors="*{nodeName}">아이디 오류</span>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">위도</p>
                                        <hr>
                                        <input type="text" th:field="*{nodeLatitude}" class="form-control fontHv mt-0 pt-0 fs-6" id="lat" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">경도</p>
                                        <hr>
                                        <input type="text" th:field="*{nodeLongitude}" class="form-control fontHv mt-0 pt-0 fs-6" id="lng" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">고도</p>
                                        <hr>
                                        <input type="text" th:field="*{nodeAltitude}" class="form-control fontHv mt-0 pt-0 fs-6" id="alti" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5 mb-4 pt-5 text-end">
                                <div class="col">
                                    <div class="fs-6 nodeHeader"><span style="color:red">*&nbsp;</span>파란색 마커로 컨트롤 하십시오</div>
                                    <button type="button" class="fs-5 mt-3 btn btn-primary delete fontHv" data-bs-toggle="modal" data-bs-target="#exampleModal">지점 삭제</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">지점 삭제</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    정말 삭제하시겠습니까?
                                                </div>
                                                <div class="modal-footer text-center justify-content-center">
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
                                                    <a type="button" class="btn btn-danger delete" th:href="@{/admin/node/delete/{nodeId}(nodeId=${nodeDto.getNodeId()})}">삭제</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="fs-5 mt-3 btn btn-primary update fontHv">지점 수정</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 offset-1 mt-3" id="map">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragment::search"></script>

<script>
    let rows = document.getElementsByClassName('row menu');
    let cnt = 0;
    let temp = 0;

    Array.from(rows).forEach(function(row, index) {
        if (row.classList.contains('link')) {
            cnt = index; // 인덱스 저장
        } //if

        row.addEventListener('mouseenter', function() {
            this.classList.add('link');

            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                if (otherRow !== row) {
                    otherRow.classList.remove('link');
                } //if
            }); //link
        }); //event


        row.addEventListener('mouseleave', function() {
            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                otherRow.classList.remove('link');
            }); //remove link
        }); //addEvent
    });

    function check(){
        Array.from(rows).forEach(function(row, index){
            if(index===cnt) row.classList.add('link');
        });
    }
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script th:inline="javascript">

    const map = null;
    const mapData = {
        lat : 0,
        lng : 0,

        setLat : (value) => {
            mapData.lat = value;
        },
        setLng : (value) => {
            mapData.lng = value;
        },
        getLat : (value) => {
            return mapData.lat;
        },
        getLng : (value) => {
            return mapData.lng;
        }
    }
    // Google Map 용 Script 태그
    function initMap() {
        let targetNode = [[${nodeDto}]];

        const map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: targetNode.nodeLatitude, lng: targetNode.nodeLongitude},
            zoom: 19,
            mapId: 'DEMO_MAP_ID',
        });

        const infoWindow = new google.maps.InfoWindow();
        const elevator = new google.maps.ElevationService();

        let nodeList = [[${nodeList}]];
        nodeList.forEach(function(data, index){
            if(targetNode.nodeId === index + 181){
                const updateTag = document.createElement("div");
                updateTag.className = "price-tag";
                updateTag.textContent = data.nodeName;

                const markerView = new google.maps.marker.AdvancedMarkerView({
                    map,
                    position: {lat: data.nodeLatitude, lng: data.nodeLongitude},
                    title: data.nodeName,
                    gmpDraggable: true,
                    content : updateTag
                });
                markerView.nodeAltitude = data.nodeAltitude;

                markerView.addListener("dragend", (event) => {
                    const elevator = new google.maps.ElevationService();
                    const position = markerView.position;
                    document.getElementById("lat").value = position.lat;
                    document.getElementById("lng").value = position.lng;
                    elevator
                        .getElevationForLocations({
                            locations: [position],
                        })
                        .then(({ results }) => {
                            // Retrieve the first result
                            if (results[0]) {
                                // Open the infowindow indicating the elevation at the clicked position.
                                document.getElementById("alti").value = results[0].elevation;
                            } else {
                                alert("오류");
                            }
                        })
                        .catch((e) =>
                            alert("오류원인 : " + e)
                        );
                });

                markerView.addListener('click', ({ domEvent, latLng }) => {
                    const { target } = domEvent;

                    elevator
                        .getElevationForLocations({
                            locations: [latLng],
                        })
                        .then(({ results }) => {
                            // Retrieve the first result
                            if (results[0]) {
                                // Open the infowindow indicating the elevation at the clicked position.
                                markerView.nodeAltitude = results[0].elevation;
                            } else {
                                alert("오류");
                            }
                        })
                        .catch((e) =>
                            alert("오류원인 : " + e)
                        );

                    infoWindow.close();
                    infoWindow.setContent('<div id="content">' + '<div id="siteNotice"><h3>' + markerView.title + "</h3></div>"
                        + '<h1 id="firstHeading" class="firstHeading">' + '</h1>'
                        + '<div id="bodyContent">' + "<span>지점 위도 : </span>"
                        + markerView.position.lat + "<br><span>지점 경도 : </span>"
                        + markerView.position.lng + "<br><span>노드 고도 : </span>"
                        + markerView.nodeAltitude
                        + "</div>" + "</div>");
                    infoWindow.open(markerView.map, markerView);
                });
            } else {
                const tag = document.createElement("div");
                tag.className = "exist-tag";
                tag.textContent = data.nodeName;
                const thisMarkerView = new google.maps.marker.AdvancedMarkerView({
                    map,
                    position: {lat: data.nodeLatitude, lng: data.nodeLongitude},
                    title: data.nodeName,
                    content : tag
                });
                thisMarkerView.nodeAltitude = data.nodeAltitude;

                thisMarkerView.addListener('click', ({ domEvent, latLng }) => {
                    const { target } = domEvent;
                    infoWindow.close();
                    infoWindow.setContent('<div id="content">' + '<div id="siteNotice"><h3>' + thisMarkerView.title + "</h3></div>"
                        + '<h1 id="firstHeading" class="firstHeading">' + '</h1>'
                        + '<div id="bodyContent">' + "<span>지점 위도 : </span>"
                        + thisMarkerView.position.lat + "<br><span>지점 경도 : </span>"
                        + thisMarkerView.position.lng + "<br><span>노드 고도 : </span>"
                        + thisMarkerView.nodeAltitude
                        + "</div>" + "</div>");
                    infoWindow.open(thisMarkerView.map, thisMarkerView);
                });
            }
        });
    }
    window.initMap = initMap;
</script>
</body>
</html>