<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{/fragment :: header}"></header>
    <div class="row">
        <div th:replace="~{fragment :: sidebar('node')}"></div>
        <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top:5%;">
            <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                <div class="row ms-5 mb-3 mt-2 nodeHeader">
                    관리자 >  지점 관리 > 지점 목록 조회
                </div>
                <div class="row mb-4 ms-5 fs-1 fontHv">
                    <div class="col-3">
                        <span>지점이슈</span>
                        <span style="cursor: pointer" onclick="changeUp()" id="changeButton"><i class="bi bi-chevron-down fs-2" id="button"></i></span>
                    </div>
                </div>
                <div class="row text-center" id="temp">
                    <div class="col-4 ps-5">
                        <div class="shadow p-3 mb-5 text-start rounded" style="background-color: white;">
                            <p class="fs-4 ms-3 nodeHeader">지점 문의 / 전체 문의</p>
                            <hr>
                            <div>
                                <canvas id="myChart1"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ps-5">
                        <div class="shadow p-3 mb-5 text-start rounded" style="background-color: white;">
                            <p class="fs-4 ms-3 nodeHeader">만족도가 낮게 평가된 지점</p>
                            <hr>
                            <div>
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ps-5">
                        <div class="row w-75">
                            <div class="shadow p-3 mb-1 text-start rounded" style="background-color: white;">
                                <p class="fs-4 nodeHeader">총 지점 수</p>
                                <hr>
                                <div class="row">
                                    <div class="col-2 fs-1 ms-3 ps-2 rounded-4" style="background-color: rgb(163, 230, 53);"><i class="bi bi-clipboard-check" style="color:white;"></i></div>
                                    <div class="col-9 fs-1 ms-2 ps-0 text-center">
                                        <span class="fs-2" th:text="${nodeChartData.size()}">45</span><span class="fs-4" style="color:rgb(203, 213, 225)">지점</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row w-75">
                            <div class="shadow p-3 mt-1 text-start rounded" style="background-color: white;">
                                <p class="fs-4 nodeHeader">경로 미등록 지점 수</p>
                                <hr>
                                <div class="row">
                                    <div class="col-2 fs-1 ms-3 ps-2 me-0 pe-0 rounded" style="background-color: rgb(110, 231, 183);"><i class="fa-regular fa-message" style="color:white"></i></div>
                                    <div class="col-9 fs-1 ms-2 ps-0 text-center">
                                        <span class="fs-2" th:text="${countNodes}">45</span><span class="fs-4" style="color:rgb(203, 213, 225)">지점</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ms-1">
                    <div class="col-11 ms-5" style="width:88%;">
                        <div class="row mb-3 fs-1 fontHv">
                            지점목록
                        </div>
                        <div class="row bg-white">
                            <!--
                            <div class="col-5 align-items-center">
                                <div class="row mt-2">
                                    <div class="col pe-0" style="position : relative">
                                        <input type="text" id="word" style="border-radius: 0" class="form-control form-input" placeholder="이름 검색">
                                        <i class="bi bi-search fs-5" style="position : absolute; top: 11%; left : 95%; cursor: pointer" onclick="searchConnect()"></i>
                                    </div>
                                </div>
                            </div>
                            -->
                            <div class="col-3 offset-9 align-items-end text-end">
                                <a href="/admin/node/add" th:href="@{/admin/node/add}" class="mt-3 btn btn-primary add">지점 추가</a>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-hover text-center rounded pt-2 fontReg">
                                <thead style="position : sticky; top:0;">
                                    <tr class="fs-5">
                                        <th scope="col">
                                            <span class="ms-4 ps-3">이름</span>
                                        </th>
                                        <th scope="col">
                                            <span class="ps-3">경도</span>
                                        </th>
                                        <th scope="col">
                                            <span>위도</span>
                                        </th>
                                        <th scope="col">
                                            <span>고도</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr style="max-height : 3vh; cursor:pointer" th:each="node : ${nodeList.getNodeList()}" th:onclick="|location.href='@{/admin/node/{nodeId}(nodeId=${node.getNodeId()})}'|">
                                        <td class="ps-5 ms-3" th:text="${node.getNodeName()}">Mark</td>
                                        <td class="ps-4 ms-4" th:text="${node.getNodeLatitude()}">Otto</td>
                                        <td class="ps-2" th:text="${node.getNodeLongitude()}">@mdo</td>
                                        <td class="ps-2 ms-5" th:text="${node.getNodeAltitude()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center" id="pagination">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragment::search"></script>
<script>
    let rows = document.getElementsByClassName('row menu');
    let cnt = 0;
    let temp = 0;
    Array.from(rows).forEach(function(row, index) {

        if (row.classList.contains('link')) {
            cnt = index; // 인덱스 저장
        }

        row.addEventListener('mouseenter', function() {
            this.classList.add('link');

            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                if (otherRow !== row) {
                    otherRow.classList.remove('link');
                }
            });
        });

        row.addEventListener('mouseleave', function() {
            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                otherRow.classList.remove('link');
            });
        });
    });

    function check(){
        Array.from(rows).forEach(function(row, index){
            if(index===cnt) row.classList.add('link');
        });
    }
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script th:inline="javascript">
    const ctx1 = document.getElementById('myChart1');

    const inquiryList = [[${inquiryList}]];
    const nodeInquiryList = [[${nodeInquiryList}]];

    new Chart(ctx1, {
        type: 'line',
        data: {
            labels: Object.keys(inquiryList),
            datasets: [{
                label: '전체 문의',
                data: Object.values(inquiryList),
                borderWidth: 1
            },{
                label: '지점 문의',
                data: Object.values(nodeInquiryList),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const map = [[${map}]];

    const ctx2 = document.getElementById('myChart2');
    new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: map.keys(),
            datasets: [{
                label: '만족도 평균 하위 Top5',
                data: map.values(),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    function changeUp() {
        document.getElementById("temp").style.display = 'none';
        document.getElementById("button").className = "bi bi-chevron-up fs-2";
        document.getElementById("changeButton").onclick = changeDown;
    }

    function changeDown() {
        document.getElementById("temp").style.display = 'flex';
        document.getElementById("button").className = "bi bi-chevron-down fs-2";
        document.getElementById("changeButton").onclick = changeUp;
    }

    function searchConnect(){
        let wordBox = document.getElementById("word");
        window.self.location.href = 'http://localhost:60002/admin/node/search/' + wordBox.value;
    }
</script>
<script th:inline="javascript">
    const url = window.location.href;
    const lastSlashIndex = url.lastIndexOf("/");
    const currentPage = Number(url.substring(lastSlashIndex + 1)) + 1;
    const totalPage = [[${nodeList.totalPage}]];
    let paginationHtml = '';

    const totalGroup = Math.ceil(totalPage / 10); // 총 그룹 수 계산
    let currentGroup = Math.ceil(currentPage / 10); // 현재 페이지의 그룹 번호 계산

    if (currentGroup > 1) {
        paginationHtml += '<li class="page-item">';
        paginationHtml += '<a class="page-link" href="#" onclick="changePage(' + ((currentGroup - 1) * 10) + ')">&laquo;</a>';
        paginationHtml += '</li>';
    }

    // 현재 그룹의 페이지 링크 생성
    let startPage = (currentGroup - 1) * 10 + 1;
    let endPage = Math.min(currentGroup * 10, totalPage);
    for (let i = startPage; i <= endPage; i++) {
        paginationHtml += '<li aria-current="page" class="page-item';
        if (i == currentPage) {
            paginationHtml += ' active';
        }
        paginationHtml += '">';
        paginationHtml += '<a class="page-link" href="#" onclick="changePage(' + i + ')">' + i + '</a>';
        paginationHtml += '</li>';
    }

    // 다음 페이지 그룹 링크 생성
    if (currentGroup < totalGroup) {
        paginationHtml += '<li class="page-item">';
        paginationHtml += '<a class="page-link" href="#" onclick="changePage(' + (currentGroup * 10 + 1) + ')">&raquo;</a>';
        paginationHtml += '</li>';
    }

    document.getElementById('pagination').innerHTML = paginationHtml;

    function changePage(pageNumber) {
        location.href = '/admin/node/list/' + (pageNumber - 1);
    }
</script>
</body>
</html>