<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcwEaZi-gI454I_SqL0EwZuZXtOS0ryLU&callback=initMap&libraries=maps,marker&v=beta"></script>
<div class="container-fluid">
    <header th:replace="~{/fragment :: header}"></header>
    <div class="row">
        <div th:replace="~{fragment :: sidebar('event')}"></div>
        <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top:5%;">
            <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                <div class="row ms-5 mb-3 mt-2 nodeHeader">
                    관리자 > 행사 관리 > 행사 추가
                </div>
                <div class="row ms-1">
                    <div class="col-11 ms-5" style="width:88%;">

                        <div class="row p-4">
                            <form enctype="multipart/form-data" th:action="@{/admin/event}" th:object="${eventDto}" method="post">
                                <div class="row">
                                    <div class="row mb-3 fs-1 fontHv">
                                        행사 추가
                                    </div>
                                    <div class="col-2 offset-10 text-center" style="padding-left : 5.8rem;">
                                        <button type="submit" class="btn btn-primary">추가</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="form-floating mb-3">
                                                <p class="fs-4 nodeHeader">행사 이름</p>
                                                <hr>
                                                <input th:field="*{event.eventName}" type="text" class="form-control fontHv mt-0 pt-0 fs-6">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="fs-4 nodeHeader">시작 날짜</p>
                                                <hr>
                                                <input th:field="*{event.eventStartDate}" type="date" class="form-control fontHv mt-0 pt-0 fs-6">
                                            </div>
                                            <div class="col">
                                                <p class="fs-4 nodeHeader">종료 날짜</p>
                                                <hr>
                                                <input th:field="*{event.eventEndDate}" type="date" class="form-control fontHv mt-0 pt-0 fs-6">
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="form-floating mb-3">
                                                <p class="fs-4 nodeHeader">행사 설명 멘트</p>
                                                <hr>
                                                <textarea th:field="*{event.eventInfo}" class="form-control fontHv mt-0 pt-0 fs-6"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-floating mb-3">
                                                <p class="fs-4 nodeHeader">행사 URL</p>
                                                <hr>
                                                <input th:field="*{event.eventLink}" type="text" class="form-control fontHv mt-0 pt-0 fs-6">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-floating mb-3" id="inputContainer">
                                                <div class="row">
                                                    <div class="col text-start fs-4 nodeHeader">행사 장소</div>
                                                    <div class="col text-end">
                                                        <span id="deleteInput" class="btn btn-primary delete fs-6 me-3 sidebarItem">선택 삭제</span>
                                                        <span id="addInput" class="btn btn-primary add fs-6 sidebarItem">추가</span>
                                                    </div>
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5 sidebarItem" id="exampleModalLabel">행사 장소 추가</h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body" id="map" style="height:50vh;">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                                    <button type="button" class="btn btn-primary" onclick="readXY()" data-bs-dismiss="modal">좌표 저장</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <table class="table">
                                                        <thead class="text-center rounded pt-2 fontReg">
                                                        <tr>
                                                            <th scope="col"><i class="bi bi-ui-checks-grid"></i></th>
                                                            <th scope="col">행사 장소 이름</th>
                                                            <th scope="col">고도</th>
                                                            <th scope="col">위도</th>
                                                            <th scope="col">경도</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="text-center" id="locations">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mt-3">
                                        <div class="image-wrapper text-center">
                                            <img id="preview" src="#" style="height:37.8rem; width:24.3rem" onerror="this.style.visibility='hidden';">
                                        </div>
                                        <div class="mt-2" style="margin-left : 18rem;">
                                            <label class="p-2 mb-1 sidebarItem btn btn-primary" for="file">이미지 업로드</label>
                                            <input name="file" type="file" accept="image/*" id="file" style="visibility: hidden">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragment::search"></script>

<script>
    let tempLat = 37.45088195800781;
    let tempLng = 127.12886810302734;
    let tempAlti = 0;
    let locationIndex = 0;
    let checkedCount = 0;
    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.45088195800781, lng: 127.12886810302734},
            zoom: 19,
            mapId: 'DEMO_MAP_ID',
        });

        const pinViewScaled = new google.maps.marker.PinView({
            scale: 0.4,
        });

        const pinViewBackground = new google.maps.marker.PinView({
            background: "#046ffb",
        });

        const elevator = new google.maps.ElevationService();

        const newMarkerView = new google.maps.marker.AdvancedMarkerView({
            map,
            position: {lat: 37.45088195800781, lng: 127.12886810302734},
            gmpDraggable: true,
            content : pinViewBackground.element
        });

        newMarkerView.addListener("dragend", (event) => {
            const position = newMarkerView.position;
            tempLat = position.lat;
            tempLng = position.lng;
            elevator
                .getElevationForLocations({
                    locations: [position],
                })
                .then(({ results }) => {
                    // Retrieve the first result
                    if (results[0]) {
                        // Open the infowindow indicating the elevation at the clicked position.
                        tempAlti = results[0].elevation;
                    } else {
                        alert("오류");
                    }
                })
                .catch((e) =>
                    alert("오류원인 : " + e)
                );
        });
    }

    const myModal = new bootstrap.Modal(document.getElementById('exampleModal'));

    function readURL(input){
        if(input.files && input.files[0]){
            let reader = new FileReader();

            reader.onload = function(e){
                document.getElementById('preview').src = e.target.result;
                document.getElementById('preview').style.visibility = 'visible';
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function readXY(){
        let locationsTbody = document.getElementById("locations");
        let locationsTr = document.createElement("tr");
        let nameTd = document.createElement("td");
        let nameInput = document.createElement("input");
        nameInput.className = "form-control sidebarItem";
        nameTd.appendChild(nameInput);
        nameInput.name = 'locations[' + locationIndex + '].eventPlaceName';
        let latTd = document.createElement("td");
        let latInput = document.createElement("input");
        latInput.className = "form-control sidebarItem";
        latInput.value = tempLat;
        latTd.appendChild(latInput);
        latInput.name = 'locations[' + locationIndex + '].eventLatitude';
        let lngTd = document.createElement("td");
        let lngInput = document.createElement("input");
        lngInput.className = "form-control sidebarItem";
        lngInput.value = tempLng;
        lngTd.appendChild(lngInput);
        lngInput.name = 'locations[' + locationIndex + '].eventLongitude';
        let altiTd = document.createElement("td");
        let altiInput = document.createElement("input");
        altiInput.value = tempAlti;
        altiInput.className = "form-control sidebarItem";
        altiTd.appendChild(altiInput);
        altiInput.name = 'locations[' + locationIndex + '].eventAltitude';
        let checkTd = document.createElement("td");
        let inputCheck = document.createElement("input");
        inputCheck.type = "checkbox";
        inputCheck.style.width = '1.5rem';
        inputCheck.style.height = '1.5rem';
        inputCheck.className = "mt-1 checkBoxList";
        checkTd.appendChild(inputCheck);
        locationsTr.appendChild(checkTd);
        locationsTr.appendChild(nameTd);
        locationsTr.appendChild(altiTd);
        locationsTr.appendChild(latTd);
        locationsTr.appendChild(lngTd);
        locationsTr.className = "locationData"
        locationsTbody.appendChild(locationsTr);
        locationIndex++;
    }

    document.getElementById('deleteInput').addEventListener('click', function() {
        let list = document.getElementsByClassName("checkBoxList");
        let checkboxes = Array.from(list);
        for (let i = checkboxes.length - 1; i >= 0; i--) {
            if (checkboxes[i].checked) {
                checkboxes[i].closest('.locationData').remove();
            }
        }
    });

    document.getElementById("file").addEventListener("change", function(){
        readURL(this);
    });

    document.getElementById('addInput').addEventListener('click', function() {
        // 새로운 input 요소 생성
        initMap();
        myModal.show(myModal);
    });
</script>
<script>
    let rows = document.getElementsByClassName('row menu');
    let cnt = 0;
    Array.from(rows).forEach(function(row, index) {

        if (row.classList.contains('link')) {
            cnt = index; // 인덱스 저장
        }

        row.addEventListener('mouseenter', function() {
            this.classList.add('link');

            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                if (otherRow !== row) {
                    otherRow.classList.remove('link');
                }
            });
        });

        row.addEventListener('mouseleave', function() {
            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                otherRow.classList.remove('link');
            });
        });
    });

    function check(){
        Array.from(rows).forEach(function(row, index){
            if(index===cnt) row.classList.add('link');
        });
    }
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>