<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{/fragment :: header}"></header>
    <div class="row">
        <div th:replace="~{fragment :: sidebar('ai')}"></div>
        <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top:5%;">
            <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                <div class="row ms-5 mb-3 mt-2 nodeHeader">
                    관리자 > AI관리
                </div>
                <div class="row mb-4 ms-5 fs-1 fontHv">
                    AI 모델 관리
                </div>
                <div class="row">
                    <div class="col text-end me-5">
                        <a href="/admin/ai/model/add" class="btn btn-primary add">모델 재학습</a>
                    </div>
                </div>
                <div class="row p-5">
                    <table class="table text-center rounded pt-2 fontReg align-middle">
                        <thead style="position : sticky; top:0;">
                        <tr class="fs-5">
                            <th scope="col">
                                <span class="">버전</span>
                            </th>
                            <th scope="col">
                                <span class="">이름</span>
                            </th>
                            <th scope="col">
                                <span>MAE</span>
                            </th>
                            <th scope="col">
                                <span>평균 만족도</span>
                            </th>
                            <th scope="col">
                                <span>하이퍼파라미터</span>
                            </th>
                            <th scope="col">
                                <span>설정</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr style="height:8vh" th:each="ai : ${aiList}">
                                <td>
                                    <div th:text="${ai.getAiModelVersion()}">v0.0.1</div>
                                </td>
                                <td th:text="${ai.getAiModelName()}">초기 모델</td>
                                <td th:text="${ai.getMae()}">15%</td>
                                <td th:text="${ai.getAverSatis()}">3.2</td>
                                <td>
                                    <div class="row justify-content-center">
                                        <div class="col-4">
                                            <span>최대 깊이 수 : <span th:text="${ai.getMaxDepth()}">10</span></span>
                                        </div>
                                        <div class="col-4">
                                            <span>최소 샘플 수 : <span th:text="${ai.getMinSampleSplit()}">10</span></span>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-4">
                                            <span>최소 샘플 수(leaf) : <span th:text="${ai.getMinSampleLeaf()}">10</span></span>
                                        </div>
                                        <div class="col-4">
                                            <span>최대 특성 수: <span th:text="${ai.getMaxFeature()}">10</span></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <i class="bi bi-trash-fill" style="cursor: pointer" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${ai.getAiModelId()}"></i>
                                            <div class="modal fade" th:id="'exampleModal' + ${ai.getAiModelId()}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">모델 삭제</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body text-center">
                                                            정말 삭제하시겠습니까?
                                                        </div>
                                                        <div class="modal-footer text-center justify-content-center">
                                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
                                                            <a type="button" class="btn btn-danger delete" th:href="@{'/admin/ai/delete/model/'+${ai.getAiModelId()}}">삭제</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center" id="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragment::search"></script>
<script>
    let rows = document.getElementsByClassName('row menu');
    let cnt = 0;
    let temp = 0;

    Array.from(rows).forEach(function(row, index) {
        if (row.classList.contains('link')) {
            cnt = index; // 인덱스 저장
        } //if

        row.addEventListener('mouseenter', function() {
            this.classList.add('link');

            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                if (otherRow !== row) {
                    otherRow.classList.remove('link');
                } //if
            }); //link
        }); //event


        row.addEventListener('mouseleave', function() {
            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                otherRow.classList.remove('link');
            }); //remove link
        }); //addEvent
    });

    function check(){
        Array.from(rows).forEach(function(row, index){
            if(index===cnt) row.classList.add('link');
        });
    }
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
</body>
</html>