<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{/fragment :: header}"></header>
    <div class="row">
        <div th:replace="~{fragment :: sidebar('user')}"></div>
        <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top : 5%">
            <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                <div class="row ms-5 mb-3 mt-2 nodeHeader">
                    관리자 > 사용자 관리 >  사용자 상세조회
                </div>
                <div class="row mb-4 ms-5 fs-1 fontHv">
                    사용자 상세조회
                </div>
                <div class="row text-center mx-5 rounded">
                    <form th:object="${userForm}" th:action="@{/admin/users/update}" method="post">
                    <div class="row align-items-center">
                        <div class="col-3 offset-9 text-end">
                            <button type="submit" class="fs-5 mt-3 btn btn-primary update fontHv">사용자 수정</button>
                            <a class="fs-5 mt-3 btn btn-primary delete fontHv" data-bs-toggle="modal" data-bs-target="#exampleModal">사용자 삭제</a>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">사용자 삭제</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-center">
                                            정말 삭제하시겠습니까?
                                        </div>
                                        <hr>
                                        <div class="text-center mb-3">
                                            <button type="button" class="btn btn-secondary-subtle" data-bs-dismiss="modal">닫기</button>
                                            <a class="btn btn-primary delete fontHv" th:href="@{'/admin/users/delete/'+${userForm.getUserId()}}">삭제</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-6 offset-1 me-5">
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">ID</p>
                                        <hr>
                                        <input type="hidden" th:field="*{userId}">
                                        <input type="text" th:field="*{username}" class="form-control fontHv mt-0 pt-0 fs-6" style="color:black" readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">성별</p>
                                        <hr>
                                        <select th:field="*{userGender}" class="form-control fontHv mt-0 pt-0 fs-6" style="color : rgb(17,160,248); border-radius : 1rem;">
                                            <option th:each="g : ${gender}" th:value="${g}" th:text="${g}" th:selected="${g == userForm.getUserGender()}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">지정 속도</p>
                                        <hr>
                                        <select th:field="*{userSpeed}" class="form-control fontHv mt-0 pt-0 fs-6" id="floatingInput3" style="color : rgb(17,160,248); border-radius : 1rem;">
                                            <option th:each="s : ${speed}" th:value="${s}" th:text="${s}" th:selected="${s == userForm.getUserSpeed()}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">닉네임</p>
                                        <hr>
                                        <input type="text" th:field="*{userNickname}" class="form-control fontHv mt-0 pt-0 fs-6" id="floatingInput4" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">출생년도</p>
                                        <hr>
                                        <input type="text" th:field="*{userBirth}" class="form-control fontHv mt-0 pt-0 fs-6" id="floatingInput5" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">키</p>
                                        <hr>
                                        <input type="text" th:field="*{userHeight}" class="form-control fontHv mt-0 pt-0 fs-6" id="floatingInput7" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">몸무게</p>
                                        <hr>
                                        <input type="text" th:field="*{userWeight}" class="form-control fontHv mt-0 pt-0 fs-6" id="floatingInput8" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragment::search"></script>

</body>
</html>