<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcwEaZi-gI454I_SqL0EwZuZXtOS0ryLU&callback=initMap&libraries=maps,marker&v=beta"></script>
<div class="container-fluid">
    <header th:replace="~{/fragment :: header}"></header>
    <div class="row">
        <div th:replace="~{fragment :: sidebar('edge')}"></div>
        <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top:5%;">
            <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                <div class="row ms-5 mb-3 mt-2 nodeHeader">
                    관리자 > 경로 관리 > 경로 수정
                </div>
                <div class="row mb-4 ms-5 fs-1 fontHv">
                    경로등록
                </div>
                <div class="row text-center mx-5 rounded">
                    <form th:object="${lineDto}" th:action="@{/admin/line}" method="post">
                        <div class="row align-items-center mb-5">
                            <div class="col-3 offset-9 text-end pe-5 me-5"></div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-start ms-5 ps-5">
                                <div class="form-floating mb-4">
                                    <p class="fs-4 nodeHeader">경로이름</p>
                                    <hr>
                                    <input type="text" th:field="*{lineName}" class="form-control fontHv mt-0 pt-0 fs-6" id="name" placeholder="name@example.com" >
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <div class="form-floating mb-4">
                                            <p class="fs-4 nodeHeader">연결노드1 <span class="nodeHeader fs-5"><span style="color:red">*&nbsp;</span>텍스트 입력 칸 클릭 후 마커를 선택하십시오.</span></p>
                                            <hr>
                                            <input type="text" th:field="*{nodeNameFirst}" class="small form-control fontHv mt-0 pt-0 fs-6" id="node1" placeholder="name@example.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-5">
                                    <div class="col">
                                        <div class="form-floating mb-4">
                                            <p class="fs-4 nodeHeader">연결노드2 <span class="nodeHeader fs-5"><span style="color:red">*&nbsp;</span>텍스트 입력 칸 클릭 후 마커를 선택하십시오.</span></p>
                                            <hr>
                                            <input type="text" th:field="*{nodeNameSecond}" class="small form-control fontHv mt-0 pt-0 fs-6" id="node2" placeholder="name@example.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-5 text-end">
                                    <div class="col">
                                        <div class="form-floating mb-4">
                                            <button type="submit" class="fs-5 mt-3 btn btn-primary save fontHv">경로 저장</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 offset-1 mt-3" id="map">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let rows = document.getElementsByClassName('row menu');
    let cnt = 0;
    let temp = 0;

    Array.from(rows).forEach(function(row, index) {
        if (row.classList.contains('link')) {
            cnt = index; // 인덱스 저장
        } //if

        row.addEventListener('mouseenter', function() {
            this.classList.add('link');

            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                if (otherRow !== row) {
                    otherRow.classList.remove('link');
                } //if
            }); //link
        }); //event


        row.addEventListener('mouseleave', function() {
            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                otherRow.classList.remove('link');
            }); //remove link
        }); //addEvent
    });

    function check(){
        Array.from(rows).forEach(function(row, index){
            if(index===cnt) row.classList.add('link');
        });
    }
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
<script th:inline="javascript">

    const map = null;
    const mapData = {
        lat : 0,
        lng : 0,

        setLat : (value) => {
            mapData.lat = value;
        },
        setLng : (value) => {
            mapData.lng = value;
        },
        getLat : (value) => {
            return mapData.lat;
        },
        getLng : (value) => {
            return mapData.lng;
        }
    }

    let inputFocused1 = false;
    let inputFocused2 = false;

    document.getElementById("node1").addEventListener("focus", () => inputFocused=true);

    // Google Map 용 Script 태그
    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.45088195800781, lng: 127.12886810302734},
            zoom: 19,
            mapId: 'DEMO_MAP_ID',
        });

        const pinViewScaled = new google.maps.marker.PinView({
            scale: 0.4,
        });

        const pinViewBackground1 = new google.maps.marker.PinView({
            background: "#046ffb",
        });

        const pinViewBackground2 = new google.maps.marker.PinView({
            background: "#04fb6f",
        });

        const infoWindow = new google.maps.InfoWindow();
        let nodeList = [[${nodeList}]];

        nodeList.forEach(function(data){
            const markerView = new google.maps.marker.AdvancedMarkerView({
                map,
                position: {lat: data.nodeLatitude, lng: data.nodeLongitude},
                draggable : true,
                title: data.nodeName,
                content : pinViewScaled.element
            });
            markerView.nodeAltitude = data.nodeAltitude;

            document.getElementById("node1").addEventListener("click", function(){
                inputFocused1=true;
            });

            document.getElementById("node2").addEventListener("click", function(){
                inputFocused2=true;
            });

            markerView.addListener('click', ({ domEvent, latLng }) => {
                const { target } = domEvent;

                if(inputFocused1) {
                    infoWindow.close();
                    infoWindow.setContent('<div id="content">' + '<div id="siteNotice"><h5>지점 1 선택' + "</h5></div>"
                        + '<h1 id="firstHeading" class="firstHeading">' + '</h1>'
                        + '<div id="bodyContent">' + "<span></span>"
                        + "<span></span>"
                        + "<span></span>"
                        + "</div>" + "</div>");
                    infoWindow.open(markerView.map, markerView);
                    markerView.content = pinViewBackground1.element;
                    document.getElementById("node1").value = markerView.title;
                    inputFocused1=false;
                }

                if(inputFocused2) {
                    infoWindow.close();
                    infoWindow.setContent('<div id="content">' + '<div id="siteNotice"><h5>지점 2 선택' + "</h5></div>"
                        + '<h1 id="firstHeading" class="firstHeading">' + '</h1>'
                        + '<div id="bodyContent">' + "<span></span>"
                        + "<span></span>"
                        + "<span></span>"
                        + "</div>" + "</div>");
                    infoWindow.open(markerView.map, markerView);
                    markerView.content = pinViewBackground2.element;
                    document.getElementById("node2").value = markerView.title;
                    inputFocused2=false;
                }
            });
        });


    }
    window.initMap = initMap;
</script>
</body>
</html>