<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{/fragment :: header}"></header>
    <div class="row">
        <div th:replace="~{fragment :: sidebar('user')}"></div>
        <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top : 5%">
            <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                <div class="row ms-5 mb-3 mt-2 nodeHeader">
                    관리자 > 사용자 관리 >  사용자 상세조회
                </div>
                <div class="row mb-4 ms-5 fs-1 fontHv">
                    사용자 상세조회
                </div>
                <div class="row text-center mx-5 rounded">
                    <div class="row align-items-center">
                        <div class="col-3 offset-9 text-end">
                            <button type="submit" class="fs-5 mt-3 btn btn-primary update fontHv">사용자 수정</button>
                            <button type="submit" class="fs-5 mt-3 btn btn-primary delete fontHv">사용자 삭제</button>
                        </div>
                    </div>
                    <div class="col text-start ms-5 ps-5">
                        <form th:object="${userForm}" th:action="@{/admin/users/update}" method="post">
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">ID</p>
                                        <hr>
                                        <input type="text" th:field="*{username}" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput1" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">성별</p>
                                        <hr>
                                        <input type="text" th:field="*{userGender}" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput2" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">지정 속도</p>
                                        <hr>
                                        <input type="text" th:field="*{userSpeed}" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput3" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">닉네임</p>
                                        <hr>
                                        <input type="text" th:field="*{userNickname}" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput4" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">출생년도</p>
                                        <hr>
                                        <input type="text" th:field="*{userBirth}" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput5" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">학과</p>
                                        <hr>
                                        <input type="text" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput6" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">키</p>
                                        <hr>
                                        <input type="text" th:field="*{userHeight}" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput7" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">몸무게</p>
                                        <hr>
                                        <input type="text" th:field="*{userWeight}" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput8" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">추천경로 만족도</p>
                                        <hr>
                                        <input type="text" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput9" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <p class="fs-4 nodeHeader">소요시간 만족도</p>
                                        <hr>
                                        <input type="text" class="form-control fontHv mt-0 pt-0 fs-4" id="floatingInput10" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>