<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head('문의 관리')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 관리</title>
</head>
<body>
    <div class="container-fluid">
        <header th:replace="~{/fragment :: header}"></header>
        <div class="row">
            <div th:replace="~{fragment :: sidebar('inquiry')}"></div>
            <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top:5%;">
                <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                    <div class="row ms-5 mb-3 mt-2 nodeHeader">
                        관리자 > 문의 관리 > 문의 목록 조회
                    </div>
                    <div class="row ms-1">
                        <div class="col-11 ms-5" style="width:88%;">
                            <div class="row mb-3 fs-1 fontHv">
                                <div class="col">
                                    문의 목록
                                </div>
                                <div class="col-2 mt-2">
                                    <a href="/admin/inquiry/required/0" class="btn btn-outline-warning">미답변 문의 목록</a>
                                </div>
                            </div>
                            <div class="row bg-white">
                                <div class="col-5 align-items-center">
                                    <div class="row mt-2">
                                        <div class="col pe-0" style="position : relative">
                                            <input type="text" style="border-radius: 0" class="form-control form-input" placeholder="이름 검색" id="word">
                                            <i class="bi bi-search fs-5" style="position : absolute; top: 11%; left : 95%; cursor: pointer" onclick="searchConnect()"></i>
                                        </div>
                                    </div>
                                </div>
    <!--                                <div class="col-3 offset-4 align-items-center text-end">-->
    <!--                                    <a href="/admin/event/add" class="btn btn-primary add mt-2 sidebarItem fs-6">문의 등록</a>-->
    <!--                                </div>-->
                            </div>
                            <div class="row">
                                <table class="table table-hover text-center rounded">
                                    <thead class="text-center">
                                        <tr>
                                            <th scope="col">답변여부</th>
                                            <th scope="col">문의 종류</th>
                                            <th scope="col">문의 제목</th>
                                            <th scope="col">닉네임</th>
                                            <th scope="col">일시</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr th:each="inquiry : ${inquiryList.inquiryList}" style="max-height: 3vh; cursor: pointer"
                                        th:onclick="|location.href='@{/admin/inquiry/{inquiryId}(inquiryId=${inquiry.getInquiryId()})}'|">
                                        <td>
                                            <span th:if="${inquiry.inquiryProgress} != true" class="rounded-pill text-bg-warning p-1">미답변</span>
                                            <span th:if="${inquiry.inquiryProgress} == true" class="rounded-pill text-bg-success p-1">답변완료</span>
                                        </td>
                                        <td th:text="${inquiry.inquiryCategory.getTitle()}">Mark</td>
                                        <td th:text="${inquiry.inquiryTitle}">Otto</td>
                                        <td th:text="${inquiry.user.getUserNickname()}">@mdo</td>
                                        <td th:text="${inquiry.createDt}">@mdo</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center" id="pagination">
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="row ms-1">-->
<!--                        <div class="col-11 ms-5" style="width:88%;">-->
<!--                            <div class="row mb-3 fs-1 fontHv">-->
<!--                                문의 목록-->
<!--                            </div>-->
<!--                            <div class="row bg-white">-->
<!--                                <div class="col-5 align-items-center">-->
<!--                                    <div class="search mt-2 mb-2">-->
<!--                                        <input type="text" class="form-control form-input" placeholder="Search anything...">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-3 offset-4 align-items-center text-end">-->
<!--                                    <a href="/admin/event/add" class="btn btn-primary add mt-2 sidebarItem fs-6">건물 등록</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row" style="height : 70vh">-->
<!--                                <table class="table">-->
<!--                                    <thead class="text-center">-->
<!--                                    <tr>-->
<!--                                        <th scope="col">문의 구분</th>-->
<!--                                        <th scope="col">문의 종류</th>-->
<!--                                        <th scope="col">건물 제목</th>-->
<!--                                        <th scope="col">닉네임</th>-->
<!--                                        <th scope="col">일시</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody class="text-center">-->
<!--                                    <tr th:each="inquiry : ${inquiryList.inquiryList}"-->
<!--                                        th:onclick="|location.href='@{/admin/inquiry/{inquiryId}(inquiryId=${inquiry.getInquiryId()})}'|">-->
<!--                                        <td th:text="${inquiry.inquiryProgress}">1</td>-->
<!--                                        <td th:text="${inquiry.inquiryCategory}">Mark</td>-->
<!--                                        <td th:text="${inquiry.inquiryTitle}">Otto</td>-->
<!--                                        <td th:text="${inquiry.user.userNickname}">@mdo</td>-->
<!--                                        <td th:text="${inquiry.createDt}">@mdo</td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                            <div class="row mt-4">-->
<!--                                <div class="col offset-5">-->
<!--                                    <nav aria-label="Page navigation example">-->
<!--                                        <ul class="pagination">-->
<!--                                            <li class="page-item">-->
<!--                                                <a class="page-link" href="#" aria-label="Previous">-->
<!--                                                    <span aria-hidden="true">&laquo;</span>-->
<!--                                                </a>-->
<!--                                            </li>-->
<!--                                            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                                            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                            <li class="page-item">-->
<!--                                                <a class="page-link" href="#" aria-label="Next">-->
<!--                                                    <span aria-hidden="true">&raquo;</span>-->
<!--                                                </a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </nav>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>

        </div>
    </div>
    <script th:replace="fragment::search"></script>
    <script>
        function searchConnect(){
            let wordBox = document.getElementById("word");
            window.self.location.href = `http://ceprj.gachon.ac.kr:60002/admin/inquiry/sortedlist/0?sortedList=${wordBox.value}`;
        }
    </script>
    <script>
        let rows = document.getElementsByClassName('row menu');
        let cnt = 0;
        let temp = 0;
        Array.from(rows).forEach(function(row, index) {

            if (row.classList.contains('link')) {
                cnt = index; // 인덱스 저장
            }

            row.addEventListener('mouseenter', function() {
                this.classList.add('link');

                document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                    if (otherRow !== row) {
                        otherRow.classList.remove('link');
                    }
                });
            });

            row.addEventListener('mouseleave', function() {
                document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                    otherRow.classList.remove('link');
                });
            });
        });

        function check(){
            Array.from(rows).forEach(function(row, index){
                if(index===cnt) row.classList.add('link');
            });
        }
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script th:inline="javascript">
        const url = window.location.href;
        const lastSlashIndex = url.lastIndexOf("/");
        const currentPage = Number(url.substring(lastSlashIndex + 1)) + 1;
        const totalPage = [[${inquiryList.totalPage}]];
        let paginationHtml = '';

        const totalGroup = Math.ceil(totalPage / 10); // 총 그룹 수 계산
        let currentGroup = Math.ceil(currentPage / 10); // 현재 페이지의 그룹 번호 계산

        if (currentGroup > 1) {
            paginationHtml += '<li class="page-item">';
            paginationHtml += '<a class="page-link" href="#" onclick="changePage(' + ((currentGroup - 1) * 10) + ')">&laquo;</a>';
            paginationHtml += '</li>';
        }

        // 현재 그룹의 페이지 링크 생성
        let startPage = (currentGroup - 1) * 10 + 1;
        let endPage = Math.min(currentGroup * 10, totalPage);
        for (let i = startPage; i <= endPage; i++) {
            paginationHtml += '<li aria-current="page" class="page-item';
            if (i == currentPage) {
                paginationHtml += ' active';
            }
            paginationHtml += '">';
            paginationHtml += '<a class="page-link" href="#" onclick="changePage(' + i + ')">' + i + '</a>';
            paginationHtml += '</li>';
        }

        // 다음 페이지 그룹 링크 생성
        if (currentGroup < totalGroup) {
            paginationHtml += '<li class="page-item">';
            paginationHtml += '<a class="page-link" href="#" onclick="changePage(' + (currentGroup * 10 + 1) + ')">&raquo;</a>';
            paginationHtml += '</li>';
        }

        document.getElementById('pagination').innerHTML = paginationHtml;

        function changePage(pageNumber) {
            location.href = '/admin/inquiry/list/' + (pageNumber - 1);
        }
    </script>
</body>
</html>