<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <header th:replace="~{/fragment :: header}"></header>
        <div class="row">
            <div th:replace="~{fragment :: sidebar('building')}"></div>
            <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top:5%;">
                <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                    <div class="row ms-5 mb-3 mt-2 nodeHeader">
                        관리자 > 장소 관리 > 장소 목록 조회
                    </div>
                    <div class="row ms-1">
                        <div class="col-11 ms-5" style="width:88%;">
                            <div class="row mb-3 fs-1 fontHv">
                                장소 목록
                            </div>
                            <div class="row bg-white">
                                <div class="col-5 align-items-center">
                                    <div class="row mt-2">
                                        <div class="col pe-0" style="position : relative">
                                            <input type="text" style="border-radius: 0" class="form-control form-input" placeholder="이름 검색" id="word">
                                            <i class="bi bi-search fs-5" style="position : absolute; top: 11%; left : 95%; cursor: pointer" onclick="searchConnect()"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 offset-4 align-items-center text-end">
                                    <a href="/admin/place/add" class="btn btn-primary add mt-2 sidebarItem fs-6">장소 등록</a>
                                </div>
                            </div>
                            <div class="row" style="height : 70vh">
                                <table class="table">
                                    <thead class="text-center">
                                    <tr>
                                        <th scope="col"> 장소 유형
                                            <select id="categoryFilter">
                                                <option value="ALL">모두</option>
                                                <option value="BUILDING" selected>건물</option>
                                                <option value="SMOKING">흡연구역</option>
                                                <option value="FOOD">음식점</option>
                                                <option value="CAFE">카페</option>
                                                <option value="CONV">편의점</option>
                                                <option value="WELFARE">복지시설</option>
                                                <option value="PRINT">인쇄</option>
                                                <option value="BUSSTOP">버스정류장</option>
                                            </select>
                                        </th>
                                        <th scope="col">장소 이름</th>
                                        <th scope="col">장소 요약 정보</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr th:each="place : ${placeList}" th:onclick="|location.href='@{/admin/place/{placeId}(placeId=${place.getPlaceId()})}'|">
                                        <td th:text="${place.placeCategory}">Mark</td>
                                        <td th:text="${place.placeName}">1</td>
                                        <td th:text="${place.placeSummary}">Otto</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mt-4">
                                <div class="col offset-5">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="fragment::search"></script>

    <script>
        // 페이지 로드 후 실행되는 함수
        window.onload = function() {
            // 드롭다운 메뉴 변경 시 호출되는 함수
            document.getElementById("categoryFilter").addEventListener("change", function() {
                var category = this.value;
                var placeTableRows = document.querySelectorAll("#placeTable tr");
                placeTableRows.forEach(function(row) {
                    var placeCategory = row.cells[0].textContent;
                    if (category === "all" || placeCategory === category) {
                        row.style.display = "table-row";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        };
    </script>
<script>
    function searchConnect(){
        let wordBox = document.getElementById("word");
        window.self.location.href = 'http://localhost:60002/admin/node/search/' + wordBox.value;
    }
</script>
</body>
</html>