<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <header th:replace="~{/fragment :: header}"></header>
        <div class="row">
            <div th:replace="~{fragment :: sidebar('building')}"></div>
            <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top:5%;">
                <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                    <div class="row ms-5 mb-3 mt-2 nodeHeader">
                        관리자 > 장소 관리 > 장소 목록 조회
                    </div>
                    <div class="row ms-1">
                        <div class="col-11 ms-5" style="width:88%;">
                            <div class="row mb-3 fs-1 fontHv">
                                장소 목록
                            </div>
                            <div class="row bg-white">
                                <div class="col-5 pb-3 align-items-center">
                                    <!--
                                    <div class="row mt-2">
                                        <div class="col pe-0" style="position : relative">
                                            <input type="text" style="border-radius: 0" class="form-control form-input" placeholder="이름 검색" id="word">
                                            <i class="bi bi-search fs-5" style="position : absolute; top: 11%; left : 95%; cursor: pointer" onclick="searchConnect()"></i>
                                        </div>
                                    </div>
                                    -->
                                </div>
                                <div class="col-3 pb-3 offset-4 align-items-center text-end">
                                    <a href="/admin/place/add" class="btn btn-primary add mt-2 sidebarItem fs-6">장소 등록</a>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <table class="table table-hover text-center rounded fontReg">
                                    <thead class="text-center fontReg">
                                    <tr>
                                        <th scope="col" style="width:13%; padding-left:2.5%;">
                                            <select id="categoryFilter" class="form-select sidebarItem ps-2" onchange="category()">
                                                <option value="ALL" selected>카테고리</option>
                                                <option value="ALL">모두</option>
                                                <option value="BUILDING">건물</option>
                                                <option value="SMOKING">흡연구역</option>
                                                <option value="FOOD">음식점</option>
                                                <option value="CAFE">카페</option>
                                                <option value="CONV">편의점</option>
                                                <option value="WELFARE">복지시설</option>
                                                <option value="PRINT">인쇄</option>
                                                <option value="BUSSTOP">버스정류장</option>
                                            </select>
                                        </th>
                                        <th scope="col">장소 이름</th>
                                        <th scope="col">장소 요약 정보</th>
                                        <th scope="col">고도</th>
                                        <th scope="col">위도</th>
                                        <th scope="col">경도</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center" id="placeData">
                                    <tr th:each="place : ${placeList}" th:onclick="|location.href='@{/admin/place/{placeId}(placeId=${place.getPlaceId()})}'|" style="max-height:3vh; cursor : pointer">
                                        <td th:text="${place.placeCategory}">카테고리</td>
                                        <td th:text="${place.placeName}">이름</td>
                                        <td th:text="${place.placeSummary}">요약정보</td>
                                        <td th:text="${place.placeAltitude}">고도</td>
                                        <td th:text="${place.placeLatitude}">위도</td>
                                        <td th:text="${place.placeLongitude}">경도</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="fragment::search"></script>
    <script>
        let rows = document.getElementsByClassName('row menu');
        let cnt = 0;
        Array.from(rows).forEach(function(row, index) {

            if (row.classList.contains('link')) {
                cnt = index; // 인덱스 저장
            }

            row.addEventListener('mouseenter', function() {
                this.classList.add('link');

                document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                    if (otherRow !== row) {
                        otherRow.classList.remove('link');
                    }
                });
            });

            row.addEventListener('mouseleave', function() {
                document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                    otherRow.classList.remove('link');
                });
            });
        });

        function check(){
            Array.from(rows).forEach(function(row, index){
                if(index===cnt) row.classList.add('link');
            });
        }
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script>
        function searchConnect(){
            let wordBox = document.getElementById("word");
            window.self.location.href = 'http://localhost:60002/admin/node/search/' + wordBox.value;
        }
    </script>
    <script th:inline="javascript">
        let placeList = [[${placeList}]];
        let buildingPlaceList = [];
        let smokingPlaceList = [];
        let foodPlaceList = [];
        let cafePlaceList = [];
        let convPlaceList = [];
        let welfarePlaceList = [];
        let printPlaceList = [];
        let busstopPlaceList = [];
        placeList.forEach(place => {
            if(place.placeCategory === "BUILDING") buildingPlaceList.push(place);
            else if(place.placeCategory === "SMOKING") smokingPlaceList.push(place);
            else if(place.placeCategory === "FOOD") foodPlaceList.push(place);
            else if(place.placeCategory === "CAFE") cafePlaceList.push(place);
            else if(place.placeCategory === "CONV") convPlaceList.push(place);
            else if(place.placeCategory === "WELFARE") welfarePlaceList.push(place);
            else if(place.placeCategory === "PRINT") printPlaceList.push(place);
            else busstopPlaceList.push(place);
        });
        function category(){
            let id = document.getElementById("categoryFilter");
            let category = id.value;
            let thisList = [];
            let tbody = document.getElementById('placeData');
            tbody.innerHTML = '';

            if(category === "BUILDING") thisList = buildingPlaceList;
            else if(category === "SMOKING") thisList = smokingPlaceList;
            else if(category === "FOOD") thisList = foodPlaceList;
            else if(category === "CAFE") thisList = cafePlaceList;
            else if(category === "CONV") thisList = convPlaceList;
            else if(category === "WELFARE") thisList = welfarePlaceList;
            else if(category === "PRINT") thisList = printPlaceList;
            else if(category === "BUSSTOP") thisList = busstopPlaceList;
            else thisList = placeList;

            thisList.forEach(place => {
                const tr = document.createElement("tr");
                tr.style.height = "3vh";

                tr.addEventListener('click', function() {
                    // 특정 URL로 이동합니다.
                    window.location.href = '/admin/place/'+place.placeId;
                });

                // 각 열(td)을 생성하고 데이터를 설정합니다.
                const categoryTd = document.createElement("td");
                categoryTd.textContent = place.placeCategory;
                tr.appendChild(categoryTd);

                const nameTd = document.createElement("td");
                nameTd.textContent = place.placeName;
                tr.appendChild(nameTd);

                const summaryTd = document.createElement("td");
                summaryTd.textContent = place.placeSummary;
                tr.appendChild(summaryTd);

                const altitudeTd = document.createElement("td");
                altitudeTd.textContent = place.placeAltitude;
                tr.appendChild(altitudeTd);

                const latitudeTd = document.createElement("td");
                latitudeTd.textContent = place.placeLatitude;
                tr.appendChild(latitudeTd);

                const longitudeTd = document.createElement("td");
                longitudeTd.textContent = place.placeLongitude;
                tr.appendChild(longitudeTd);

                // tr을 tbody에 추가합니다.
                tbody.appendChild(tr);
            })
        }
    </script>
</body>
</html>