<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragment :: head('장소 세부 정보')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소 세부 정보</title>
</head>
<body>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcwEaZi-gI454I_SqL0EwZuZXtOS0ryLU&callback=initMap&libraries=maps,marker&v=beta"></script>
<div class="container-fluid">
    <header th:replace="~{/fragment :: header}"></header>
    <div class="row">
        <div th:replace="~{fragment :: sidebar('building')}"></div>
        <div class="col-10" style="background-color: rgb(242,248,250); width: 85%; margin-left:15%; margin-top:5%;">
            <div class="container-fluid mt-4 p-0" style="background-color: rgb(242,248,250);">
                <div class="row ms-5 mb-3 mt-2 nodeHeader">
                    관리자 > 장소 관리 > 장소 정보 수정
                </div>
                <div class="row ms-1">
                    <div class="col-11 ms-5" style="width:88%;">
                        <div class="row mb-3 fs-1 fontHv">
                            장소 정보 수정
                        </div>
                        <div class="row p-4">
                            <form enctype="multipart/form-data" th:action="@{/admin/place/update}" th:object="${placeDto}" method="post">
                                <div class="row mb-3">
                                    <div class="col-2 offset-10 text-center" style="padding-left : 5.8rem;">
                                        <button class="btn btn-primary add" type="submit">수정</button>
                                        <a class="btn btn-danger delete" data-bs-toggle="modal" data-bs-target="#exampleModal2">삭제</a>
                                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content sidebarItem">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel2">건물 삭제</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        정말 삭제하시겠습니까?
                                                    </div>
                                                    <div class="modal-footer text-center justify-content-center">
                                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
                                                        <a type="button" class="btn btn-danger delete" th:onclick="|location.href='@{/admin/place/delete/{placeId}(placeId=${placeDto.place.placeId})}'|" data-bs-dismiss="modal">삭제</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <p class="fs-4 nodeHeader">장소 이름</p>
                                                    <hr>
                                                    <input th:field="*{place.placeName}" type="text" class="form-control fontHv mt-0 pt-0 fs-6">
                                                    <input type="hidden" th:field="*{place.placeId}">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <p class="fs-4 nodeHeader">장소 유형</p>
                                                    <hr>
                                                    <select class="form-control fontHv mt-0 pt-0 fs-6" onchange="changeSideImg()" th:field="*{place.placeCategory}" id="category" style="color : rgb(17,160,248); border-radius : 1rem;">
                                                        <option value="">장소 선택</option>
                                                        <option th:each="p : ${placeCategory}" th:value="${p}" th:text="${p}" th:selected="${placeDto.place.placeCategory} == ${p}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-floating mb-3">
                                                <p class="fs-4 nodeHeader">요약 정보</p>
                                                <hr>
                                                <input th:field="*{place.placeSummary}" type="text" class="form-control fontHv mt-0 pt-0 fs-6">
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="form-floating mb-3">
                                                <p class="fs-4 nodeHeader">장소 위치 정보 <span class="ms-4 nodeHeader fs-6 btn btn-primary" id="addInput" data-bs-toggle="modal" data-bs-target="#exampleModal">구글 맵으로 좌표 선택</span></p>
                                                <hr>
                                                <div class="row">
                                                    <div class="col input-group">
                                                        <span class="input-group-text fs-5 sidebarItem">위도</span>
                                                        <input th:field="*{place.placeLatitude}" type="text"  class="form-control fontHv mt-0 py-2 fs-6" id="basic-addon1">
                                                    </div>
                                                    <div class="col input-group">
                                                        <span class="input-group-text fs-5 sidebarItem">경도</span>
                                                        <input th:field="*{place.placeLongitude}" type="text" class="form-control fontHv mt-0 py-2 fs-6" id="basic-addon2">
                                                    </div>
                                                    <div class="col input-group">
                                                        <span class="input-group-text fs-5 sidebarItem">고도</span>
                                                        <input th:field="*{place.placeAltitude}" type="text" class="form-control fontHv mt-0 py-2 fs-6" id="basic-addon3">
                                                    </div>
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">층 입력</h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body" id="map" style="height:50vh;">

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                                    <button type="button" class="btn btn-primary" onclick="readXYZ()" data-bs-dismiss="modal">좌표 저장</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2" id="building">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <p class="fs-4 nodeHeader">빌딩 높이</p>
                                                    <hr>
                                                    <input th:field="*{place.buildingHeight}" type="text" class="form-control fontHv mt-0 pt-0 fs-6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-floating mb-3" id="floor">
                                                <p class="fs-4 nodeHeader">층별 안내
                                                    <span class="ms-3">
                                                        <span id="deleteFloor" class="btn btn-primary delete sidebarItem">선택 삭제</span>
                                                        <span id="addFloor" class="btn btn-primary add sidebarItem">추가</span>
                                                    </span>
                                                </p>
                                                <hr>
                                                <div class="row px-3">
                                                    <table class="table">
                                                        <thead class="text-center rounded pt-2 fontReg">
                                                        <tr>
                                                            <th scope="col"><i class="bi bi-ui-checks-grid"></i></th>
                                                            <th scope="col">층수</th>
                                                            <th scope="col" style="width:80%">설명</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="text-center" id="floors">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-floating mb-3" id="sideImage">
                                                <div class="row">
                                                    <div class="col text-start fs-4 nodeHeader">부가 이미지</div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <img id="thumbnail-image" th:src="${placeDto.place.thumbnailImagePath}" style="height:13rem; width:13rem">
                                                    </div>
                                                    <div class="col-2 sidebarItem fs-3">
                                                        썸네일용
                                                    </div>
                                                    <div class="col-5 text-end">
                                                        <img id="ar-image" th:src="${placeDto.place.arImagePath}" style="height:13rem; width:23rem">
                                                    </div>
                                                    <div class="col-2 sidebarItem fs-3">
                                                        AR 이미지
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-3">
                                                        <input name="thumbnailFile" id="thumbnail" type="file" accept="image/*" style="display: none;" onchange="readURL(this)">
                                                        <label class="btn btn-primary fs-6 ms-1" for="thumbnail">이미지 업로드</label>
                                                    </div>
                                                    <div class="col-6 offset-2">
                                                        <input name="ARFile" id="ar" type="file" accept="image/*" style="display: none;" onchange="readURL(this)">
                                                        <label class="btn btn-primary fs-6 ms-1" for="ar">이미지 업로드</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 text-center">
                                        <div>
                                            <p class="fs-4 nodeHeader text-start">메인 이미지</p>
                                            <hr>
                                            <div class="image-wrapper">
                                                <img id="preview" th:src="${placeDto.place.mainImagePath}" style="height:37.8rem; width:24.3rem">
                                            </div>
                                            <input id="filename" class="p-2 mt-3" value="첨부파일" placeholder="첨부파일" style="border: 1px solid #dddddd; width: 78%; color: #999999; pointer-events: none;">
                                            <label class="p-2 mb-1 sidebarItem" for="file" style="color: #fff; vertical-align: middle; cursor: pointer; background-color: #999999;">파일찾기</label>
                                            <input name="mainFile" type="file" accept="image/*" id="file" style="visibility: hidden" onchange="readURL(this)">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragment::search"></script>

<script th:inline="javascript">

    let tempLat = 0;
    let tempLng = 0;
    let tempAlt = 0;
    let floors = [[${placeDto.buildingFloors}]];
    let floorIndex = floors.length;

    if(floors){
        let table = document.getElementById("floors");
        floors.forEach(function(floor, index){
            let row = document.createElement("tr");

            row.classList.add("locationData");

            let tdName = document.createElement("td");
            let inputName = document.createElement("input");
            inputName.type="text";
            inputName.className = "form-control sidebarItem";
            inputName.name = 'buildingFloors[' + index + '].buildingFloor';
            inputName.value = floor.buildingFloor;
            tdName.appendChild(inputName);

            let tdInfo = document.createElement("td");
            let inputInfo = document.createElement("input");
            inputInfo.type="text";
            inputInfo.className = "form-control sidebarItem";
            inputInfo.name = 'buildingFloors[' + index + '].buildingFloorInfo';
            inputInfo.value = floor.buildingFloorInfo;
            tdInfo.appendChild(inputInfo);

            let checkTd = document.createElement("td");
            let inputCheck = document.createElement("input");
            inputCheck.type = "checkbox";
            inputCheck.style.width = '1.5rem';
            inputCheck.style.height = '1.5rem';
            inputCheck.id = index;
            inputCheck.className = "mt-1 checkBoxList";
            checkTd.appendChild(inputCheck);

            row.appendChild(checkTd);
            row.appendChild(tdName);
            row.appendChild(tdInfo);
            table.appendChild(row);
        });
    }

    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.45088195800781, lng: 127.12886810302734},
            zoom: 19,
            mapId: 'DEMO_MAP_ID',
        });

        const elevator = new google.maps.ElevationService();

        const newTag = document.createElement("div");
        newTag.className = "price-tag";
        newTag.textContent = "좌표 지정";

        const newMarkerView = new google.maps.marker.AdvancedMarkerView({
            map,
            position: {lat: 37.45088195800781, lng: 127.12886810302734},
            gmpDraggable: true,
            content : newTag
        });

        newMarkerView.addListener("dragend", (event) => {
            const position = newMarkerView.position;
            tempLat = position.lat;
            tempLng = position.lng;
            elevator
                .getElevationForLocations({
                    locations: [position],
                })
                .then(({ results }) => {
                    // Retrieve the first result
                    if (results[0]) {
                        // Open the infowindow indicating the elevation at the clicked position.
                        tempAlt = results[0].elevation;
                    } else {
                        alert("오류");
                    }
                })
                .catch((e) =>
                    alert("오류원인 : " + e)
                );
        });
    }

    function changeSideImg(){
        let category = document.getElementById("category");
        if(category.value != "BUILDING"){
            document.getElementById("sideImage").style.visibility = 'hidden';
            document.getElementById("building").style.display = 'none';
        } else {
            document.getElementById("sideImage").style.visibility = 'visible';
            document.getElementById("building").style.display = 'flex';
        }
    }

    changeSideImg();

    document.getElementById('addInput').addEventListener('click', function() {
        // 새로운 input 요소 생성
        initMap();
        myModal.show(myModal);
    });

    function readXYZ(){
        let lat = document.getElementById("basic-addon1");
        let lng = document.getElementById("basic-addon2");
        let alt = document.getElementById("basic-addon3");
        lat.value = tempLat;
        lng.value = tempLng;
        alt.value = tempAlt;
    }

    function readXY(){
        let floorsTbody = document.getElementById("floors");
        let floorsTr = document.createElement("tr");
        let nameTd = document.createElement("td");
        let nameInput = document.createElement("input");
        nameInput.className = "form-control sidebarItem";
        nameTd.appendChild(nameInput);
        nameInput.name = 'buildingFloors[' + floorIndex + '].buildingFloor';
        let textTd = document.createElement("td");
        textTd.style.width = '80%';
        let textInput = document.createElement("input");
        textInput.className = "form-control sidebarItem";
        textInput.name = 'buildingFloors[' + floorIndex + '].buildingFloorInfo';
        textTd.appendChild(textInput);
        let checkTd = document.createElement("td");
        let inputCheck = document.createElement("input");
        inputCheck.type = "checkbox";
        inputCheck.style.width = '1.5rem';
        inputCheck.style.height = '1.5rem';
        inputCheck.className = "mt-1 checkBoxList";
        checkTd.appendChild(inputCheck);
        floorsTr.appendChild(checkTd);
        floorsTr.appendChild(nameTd);
        floorsTr.appendChild(textTd);
        floorsTr.className = "locationData"
        floorsTbody.appendChild(floorsTr);
        floorIndex++;
    }

    document.getElementById("addFloor").addEventListener("click", readXY);

    document.getElementById('deleteFloor').addEventListener("click", function(){
        let list = document.getElementsByClassName("checkBoxList");
        let checkboxes = Array.from(list);
        for (let i = checkboxes.length - 1; i >= 0; i--) {
            if (checkboxes[i].checked) {
                checkboxes[i].closest('.locationData').remove();
            }
        }
    });
    function readURL(input){
        if(input.id === "thumbnail"){
            if(input.files && input.files[0]){
                let reader = new FileReader();

                reader.onload = function(e){
                    document.getElementById('thumbnail-image').src = e.target.result;
                    document.getElementById('thumbnail-image').style.visibility = 'visible';
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        else if(input.id === "ar"){
            if(input.files && input.files[0]){
                let reader = new FileReader();

                reader.onload = function(e){
                    document.getElementById('ar-image').src = e.target.result;
                    document.getElementById('ar-image').style.display = 'visible';
                }
                reader.readAsDataURL(input.files[0]);
            }
        } else {
            if(input.files && input.files[0]){
                let reader = new FileReader();

                reader.onload = function(e){
                    document.getElementById('preview').src = e.target.result;
                    document.getElementById('filename').value = input.files[0].name;
                    document.getElementById('preview').style.visibility = 'visible';
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    }
</script>
<script>
    let rows = document.getElementsByClassName('row menu');
    let cnt = 0;
    Array.from(rows).forEach(function(row, index) {

        if (row.classList.contains('link')) {
            cnt = index; // 인덱스 저장
        }

        row.addEventListener('mouseenter', function() {
            this.classList.add('link');

            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                if (otherRow !== row) {
                    otherRow.classList.remove('link');
                }
            });
        });

        row.addEventListener('mouseleave', function() {
            document.querySelectorAll('.row.menu').forEach(function(otherRow) {
                otherRow.classList.remove('link');
            });
        });
    });

    function check(){
        Array.from(rows).forEach(function(row, index){
            if(index===cnt) row.classList.add('link');
        });
    }
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>